/data/**/plots/
/data/**/processed/

code/profile
code/monitor
code/bench


paper/*.pdf
paper/**/*.aux
paper/**/*.toc
paper/**/*.out
paper/**/*.bbl
paper/**/*.log
paper/**/*.blg
paper/**/*.bcf
paper/**/*.xml
paper/**/*.glg
paper/**/*.glo
paper/**/*.gls
paper/**/*.ist
paper/**/*.acn
paper/**/*.acr
paper/**/*.alg
